
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*-----------------------------------------------------------------------------
 common styles  
------------------------------------------------------------------------------*/
.fixed-width{
    width: 1150px;
    margin: auto;
}
.white-button{
    border: 1px solid white;
    padding: 15px 15px;
    display: inline-block;
    color: white;
    transition: all 0.3s ease 0s;
}
.white-button:hover{
    background: white;
    color: #212529;
}

/*-----------------------------------------------------------------------------
 header and menubar
------------------------------------------------------------------------------*/
header{    
    border-bottom: 3px dotted rgb(177, 176, 176);
}
.menubar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.menubar-right ul{
    display: flex;
}
.menubar-right ul li{
    list-style: none;
    padding: 0px 15px;
}
.menubar-right ul li a{
    color: #212529;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}
.menubar-right ul li a:hover{
    color: grey;
}
#dropdown{
    padding-right: 5px;
}
.fa-angle-down{
    font-size: 10px;
}

/*-----------------------------------------------------------------------------
 Banner Sections
------------------------------------------------------------------------------*/
.banner-sections{
    display: flex;
}
.banner-section{
    padding: 20px 0 50px 0;
    border-bottom: 3px dotted grey;
}

.left-banners{
    width: 90%;
    margin: 0px 15px;
}
.left-banners{
    position: relative;
}
.left-banners img{
    width: 100%;
    overflow: hidden;
}
.left-banner-details{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 80%;
    color: white;
    transform: translate(-50%, -50%) ;
}
.left-banner-details p{
    margin: 30px 0px;
}
/* right banner */
.right-banners{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 15px;
    width: 95.5%;
}
.right-banners-card{
    position: relative;
}
.right-banners-card-details-1{
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-banners-card-details-1 h2{
    padding-bottom: 10px;
}
.right-banners-card-details-1 p{
    font-style: italic;
}
.right-banners-card img{
    width: 100%;
}


.right-banners-card-details-2{
    position: absolute;
    background: rgba(33, 37, 41, 0.945);
    /* padding-top: 70px; */
    overflow: hidden;
    text-align: center;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    display: none;
    transition: all 0.5s;
}
.right-banners-card-details-2 p{
    margin: 20px 0px;
}
.right-banners-card:hover .right-banners-card-details-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;    
}
























/* Media Query  : */
/* For mobile:  */
@media only screen and (max-width:480px){
    .fixed-width{
        width: 100%;
    }
    /*---------- Menubar  ------------*/
    .menubar-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .menubar-left{
        margin: auto;
        margin-bottom: 10px;
    }
    .hidden{
        display: none;
    }
    #hovered{
        background: #212529;
        color: white; 
        padding: 0px 15px;
        border-radius: 15px;
    }
    .menubar-right ul{
        background: #2125294b;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    #home-menu{
        color: white;
    }
    /* Banner section */
    .banner-section{
        margin: 30px 0px;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
    }
    .left-banners{
        width: 100%;
        margin: 0px;
    }
    .right-banners{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 0px;
        row-gap: 5px;
        width: 100%;
    }
}

/* For ipads, tablet:  */
@media only screen and (min-width:481px) and (max-width:768px) {
    .fixed-width{
        width: 100%;
    }
    /*---------- Menubar  ------------*/
    .menubar-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
    }
    .menubar-left{
        margin: auto;
        margin-bottom: 0px;
    }
    .menubar-left img{
        width: 70%;
    }
    .hidden{
        display: none;
    }
    #hovered{
        background: #212529;
        color: white; 
        padding: 0px 15px;
        border-radius: 15px;
    }
    .menubar-right ul{
        background: #2125294b;
        border-radius: 15px;
        margin-bottom: 0px;
        margin-right: 15px;
    }
    #home-menu{
        color: white;
    }
    /* Banner section */
    .banner-section{
        margin: 30px 0px;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
    }
    .left-banners{
        width: 100%;
        margin: 0px;
    }
    .right-banners{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5px;
        row-gap: 5px;
        width: 100%;
    }
}

/* For Small screen, laptop:  */
@media only screen and (min-width:769px) and (max-width:1024px) {
    .fixed-width{
        width: 100%;
    }
    .hidden{
        display: none;
    }
    /*---------- Menubar  ------------*/
    .menubar-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0;
    }

    /* Banner section */
    .banner-section{
        margin: 30px 0px;
    }
    .banner-sections{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-banners{
        width: 91%;
        margin: 0px;
    }
    .right-banners{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0px;
        width: 95%;
    }
}
