
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*-----------------------------------------------------------------------------
 common styles  
------------------------------------------------------------------------------*/
.fixed-width{
    width: 1150px;
    margin: auto;
}


/*-----------------------------------------------------------------------------
 header and menubar
------------------------------------------------------------------------------*/
header{    
    border-bottom: 3px dotted rgb(177, 176, 176);
}
.menubar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.menubar-right ul{
    display: flex;
}
.menubar-right ul li{
    list-style: none;
    padding: 0px 15px;
}
.menubar-right ul li a{
    color: #212529;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}
.menubar-right ul li a:hover{
    color: grey;
}
#dropdown{
    padding-right: 5px;
}
.fa-angle-down{
    font-size: 10px;
}














/* Media Query  : */
/* For mobile:  */
@media only screen and (max-width:480px){
    .fixed-width{
        width: 100%;
    }
    /*---------- Menubar  ------------*/
    .menubar-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .menubar-left{
        margin: auto;
        margin-bottom: 10px;
    }
    .hidden{
        display: none;
    }
    #hovered{
        background: #212529;
        color: white; 
        padding: 0px 15px;
        border-radius: 15px;
    }
    .menubar-right ul{
        background: #2125294b;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    #home-menu{
        color: white;
    }
}

/* For ipads, tablet:  */
@media only screen and (min-width:481px) and (max-width:768px) {}

/* For Small screen, laptop:  */
@media only screen and (min-width:769px) and (max-width:1024px) {}
